@charset "UTF-8";

/* Fonts Google */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

/* Estilo del contenedor que contiene el mapa */
#containerMap {
  background-color: #C4C4C4;
  width: 40rem;
  margin-left: 5rem;
}

/* Estilo del boton para descargar la ruta creada */
.font-text-buttom-jumbo-a {
    background-color: #2E2525 !important;
    color: #C4C4C4 !important;
    border-color: #2E2525 !important;
    font-family: "Poppins", sans-serif;
    font-weight: bold !important;
}
  
/* Estilo del mapa de google */
#mapGoogle {
  width: 38.5rem;
  height: 30rem;
}